<mat-card class="mx-auto mt-7 width-600">
  <mat-card-title class="text-center">Login</mat-card-title>
  <form class="p-2">
    <mat-form-field class="width-100 mt-7">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Ex. pat@gmail.com"
        required
        type="email"
        ngModel
        name="email"
        #email="ngModel">
      <mat-error *ngIf="email.invalid">Email is <strong>required</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="width-100 mb-7 mt-1">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Enter Password"
        required
        type="password"
        ngModel
        name="password"
        #password="ngModel">
      <mat-error *ngIf="password.invalid">Password is <strong>required</strong></mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" class="width-100">Login</button>
  </form>
  <p class="pt-2">Need an account? <a routerLink="/register" class="color-indigo">Sign up</a> instead.</p>
</mat-card>
