<mat-toolbar color="primary">
  <span>Mean Blog</span>
  <span class="spacer"></span>
  <ul class="mat-menu">
    <button mat-button [matMenuTriggerFor]="menu">Authentication</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="login">Login</button>
      <button mat-menu-item routerLink="register">Register</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu2">Menu</button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item routerLink="/">Posts</button>
      <button mat-menu-item routerLink="/create">Create</button>
    </mat-menu>
  </ul>
</mat-toolbar>

<router-outlet></router-outlet>
